<div class="container">
                <h1 class="display-4">Your awards</h1>
                <p class="lead"><i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                            <br>Hello! On this page you can see awards you achieved.</p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="container align-items-center">
                <div class="row ml-4">
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_1.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">10 events participated</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_2.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">5 events hosted</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_3.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">100 bottles recycled</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_4.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">1000 points collected</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_11.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">100 events participated</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_22.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">50 events hosted</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_33.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">1000 bottles recycled</footer>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="/src/images/award_44.png" class="w-50" alt="">
                        <footer class="blockquote-footer my-3 text-center">10000 points collected</footer>
                    </div>
                </div>
            </div>
        </div>