            <div class="container">
              <h1 class="display-4">All events you participated</h1>
              <p class="lead">On this page you can see how you can also earn points.</p>
            </div>
        </div>
        <div class="container mb-3">
            
            <div class="text-center mt-4 mb-4">
                <blockquote class="blockquote">
                    <p>Our online zero-waste store partners will give you one point for every dollar you spent buying on their web store.</p>
                </blockquote>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card border-warning">
                        <img class="card-img-top" src="/src/images/life-without-plastic.jpg" alt="">
                        <footer class="blockquote-footer mt-3 text-center">Image by Life Without Plastic</footer>
                        <div class="card-body text-center">
                            <h4 class="card-title text-warning">Life Without Plastic</h4>
                            <p class="card-text">They use plastic-free packing materials such as paper or cellulose-based tape and compostable cornstarch packing peanuts for shipping. However, because they try to reuse boxes and materials sent to them where possible, there may be some residual plastic.</p>
                            <p class="card-text">Be sure to check out their sustainable living resources as well, there’s loads of articles about plastic types and their negative effects, as well as plastic alternatives. Their Action section can help connect you to local and widespread environmental initiatives.</p>
                            <a class="btn btn-lg btn-outline-warning" href="https://lifewithoutplastic.com/">Visit store</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-12 col-md-4">
                    <div class="card border-warning">
                        <img class="card-img-top" src="/src/images/well-earth-goods.jpg" alt="">
                        <footer class="blockquote-footer mt-3 text-center">Image by Well Earth Goods</footer>
                        <div class="card-body text-center">
                            <h4 class="card-title text-warning">Well Earth Goods</h4>
                            <p class="card-text">They use plastic-free packing materials such as paper or cellulose-based tape and compostable cornstarch packing peanuts for shipping. However, because they try to reuse boxes and materials sent to them where possible, there may be some residual plastic.</p>
                            <p class="card-text">Be sure to check out their sustainable living resources as well, there’s loads of articles about plastic types and their negative effects, as well as plastic alternatives. Their Action section can help connect you to local and widespread environmental initiatives.</p>
                            <a class="btn btn-lg btn-outline-warning" href="https://wellearthgoods.com/">Visit store</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card border-warning">
                        <img class="card-img-top" src="/src/images/the-refill-shoppe.jpg" alt="">
                        <footer class="blockquote-footer mt-3 text-center">Image by Refill Shoppe</footer>
                        <div class="card-body text-center">
                            <h4 class="card-title text-warning">Eco Roots</h4>
                            <p class="card-text">They use plastic-free packing materials such as paper or cellulose-based tape and compostable cornstarch packing peanuts for shipping. However, because they try to reuse boxes and materials sent to them where possible, there may be some residual plastic.</p>
                            <p class="card-text">Be sure to check out their sustainable living resources as well, there’s loads of articles about plastic types and their negative effects, as well as plastic alternatives. Their Action section can help connect you to local and widespread environmental initiatives.</p>
                            <a class="btn btn-lg btn-outline-warning" href="https://ecoroots.us/">Visit store</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6">
                    <h3 class="text-center">Earn green points</h3>
                    <p>If you're converting solar or other renewable energy, you can earn points each month for every kWh you converted.</p>
                    <a href="" class="text-primary">Find more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="/src/images/solar_panel.jpg" alt="">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-6">
                    <img class="img-rounded" src="/src/images/OIP.jpg" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="text-center">Particitape on events</h3>
                    <p>Save our parks. Plant trees with us. Help us with cleaning the nature. You will be rewarded with some points.</p>
                    <a href="" class="text-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Find more</a>
                </div>
            </div>
        </div>
    </div>