<div class="container-fluid my-5">
    <p name="codes" id="codes">
        {{#each data}}
{{this}}<br>
        {{/each}}
    </p>
    <p class="pt-3 h3">Please save and publish codes before they expire.</p>
</div>