<div class="container-fluid">
    <textarea name="codes" id="codes" cols="30" rows="10">
        {{#each data}}
        {{this}}
        {{/each}}
    </textarea>
    <p>Please save and publish codes before they expire.</p>
</div>