<div class="container-fluid my-5">
            <textarea name="codes" id="codes" cols="30" rows="20">
                {{#each data}}
                {{this}}
                {{/each}}
            </textarea>
            <p class="pt-3 h3">Please save and publish codes before they expire.</p>
        </div>