        <div class="bg-dark">
            <div class="container">
                <h1 class="pb-3 pt-2 mb-0 text-white"><i class="fa fa-user-circle" aria-hidden="true"></i> Hello USER</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 mt-5">
                    <form>
                        <p class="text-center my-5"><i class="fa fa-users fa-5x"></i><br><br>If you participate in some of events, after the event organizer will email you with your unique code.<br>You can redeem your code here.</p>
                        <div class="mb-3 mt-5">
                          <h3>Redeem code:</h3>
                          <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" class="form-control" id="exampleInputEmail1">
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                </div>
                <div class="col-12 col-md-3">
                    <div class="jumbotron pt-3 pb-2 text-white text-center bg-info mt-4 mb-0">
                        <h3>Your points</h3>
                        <h4 class="display-4"><i class="fa fa-star" aria-hidden="true"></i> 6534</h4>
                        <p class="lead">
                            <a class="btn btn-info btn-sm border-white points-button " href="Jumbo action link" role="button">View</a>
                        </p>
                    </div>
                    <div class="jumbotron bg-warning pt-3 pb-2 text-white text-center mt-3 mb-0">
                        <h3>Events</h3>
                        <ph4 class="display-4"><i class="fa fa-users" aria-hidden="true"></i> 3</h4>
                        <p class="lead">
                            <a class="btn btn-warning btn-sm border mt-2" href="Jumbo action link" role="button">Create new</a>
                        </p>
                    </div>
                    <div class="jumbotron bg-success pt-3 pb-2 text-white text-center mt-3 mb-3">
                        <h3>Awards</h3>
                        <h4 class="display-4"><i class="fa fa-trophy" aria-hidden="true"></i> 4</h4>
                        <p class="lead">
                            <a class="btn btn-success btn-sm border" href="Jumbo action link" role="button">View</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
