.alerts {
    position:fixed; 
    top: 3vh;
    left: 65vw; 
    width: 30%;
    z-index: -1; 
    border-radius:0px
}

@import url('https://fonts.googleapis.com/css?family=Numans');

#bod{
background-image: url(/src/images/bck.png);
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

#bod > .container{
height: 100%;
align-content: center;
}

#bod > .card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

#bod > .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #ADFF2F;
}

#bod > .social_icon span:hover{
color: white;
cursor: pointer;
}

#bod > .card-header h3{
color: white;
}

#bod > .social_icon{
position: absolute;
right: 20px;
top: -45px;
}

#bod > .input-group-prepend span{
width: 50px;
background-color: #ADFF2F;
color: black;
border:0 !important;
}

#bod > input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

#bod > .remember{
color: white;
}

#bod > .remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

#bod > .login_btn{
color: white;
background-color: #ADFF2F;
width: 100px;
}

#bod > .login_btn:hover{
color: black;
background-color: #ADFF2F;
}

#bod > .links{
color: white;
}

#bod > .links a{
margin-left: 4px;
}